*.vert linguist-detectable=false
*.frag linguist-detectable=false
*.cxx linguist-detectable=false
*.cxx linguist-vendored

ocaml/swig.ml -linguist-detectable=false
ocaml/swig.mli -linguist-detectable=false
ocaml/*.c linguist-detectable=false


*.cu linguist-detectable=false

