*.vert linguist-detectable=false
*.frag linguist-detectable=false
*.cxx linguist-detectable=false
*.cxx linguist-vendored

ocaml/lib/*.c linguist-detectable=false
ocaml/lib/*RM_pkg.ml linguist-detectable=false

*.cu linguist-detectable=false
*.m linguist-detectable=false
*.wl linguist-detectable=false
*.txt linguist-detectable=false
*.csv linguist-detectable=false
*.pdf linguist-detectable=false
*.tsv linguist-detectable=false
*.data linguist-detectable=false
*.gz linguist-detectable=false
