# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Coverage files
*.html
*.css
*.scss
*.png

# shaders
experiment/shaders/

# python
__pycache__/
*__pycache__/
*.pyc
build/
docs/doxygen/html/
docs/doxygen/latex/
#Julia/
#Go/
experiment/julia/
*.jl
