*.d

*.slo
*.lo
*.o
*.obj
*.swp
*.out

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Coverage files

# python
__pycache__/
*__pycache__/
*.pyc
build/

# for python packaging
wheelhouse/
pygpmp.egg-info/
#pygpmp/arithmetic/arithmetic.py
pygpmp/arithmetic/arithmetic_wrap.cpp
#pygpmp/calculus/calculus.py
pygpmp/calculus/calculus_wrap.cpp
#pygpmp/linalg/linalg.py
pygpmp/linalg/linalg_wrap.cpp
#pygpmp/ml/ml.py
pygpmp/ml/ml_wrap.cpp
#pygpmp/nt/nt.py
pygpmp/nt/nt_wrap.cpp

