*.vert linguist-detectable=false
*.frag linguist-detectable=false
*.html linguist-detectable=false
*.js linguist-detectable=false
*.tex linguist-detectable=false
*.css linguist-detectable=false
*.scss linguist-detectable=false

*.cuh linguist-language=cuda
*.h linguist-language=c

*.m linguist-detectable=false
*.wl linguist-detectable=false
*.txt linguist-detectable=false
*.csv linguist-detectable=false
*.pdf linguist-detectable=false
*.tsv linguist-detectable=false
*.data linguist-detectable=false
*.gz linguist-detectable=false
*.jl linguist-detectable=false
*.ml linguist-detectable=false
*.R linguist-detectable=false

CMakeLists.txt linguist-language=cmake
cmake_uninstall.cmake.in linguist-language=cmake
tests/CMakeLists.txt linguist-language=cmake

versioneer.py linguist-detectable=false
pygpmp/_version.py linguist-detectable=false

pygpmp/_version.py export-subst

pygpmp/arithmetic/arithmetic.py linguist-detectable=false
pygpmp/calculus/calculus.py linguist-detectable=false
pygpmp/linalg/linalg.py linguist-detectable=false
pygpmp/ml/ml.py linguist-detectable=false
pygpmp/nt/nt.py linguist-detectable=false

experiment/*.* linguist-detectable=false
