name: Codecov analysis

on:
  workflow_call:

jobs:
  build-and-test:
    runs-on: [ ubuntu-latest ]
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: initalize github repo
        uses: actions/checkout@v3

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: install deps
        run: | 
           apt-get install lcov cmake gfortran cppcheck doxygen
      - name: Configure
        run: |
          apt-get install libgtest-dev && 
          cd /usr/src/gtest && 
          sudo cmake CMakeLists.txt && 
          sudo make && 
          cd /usr/src/gtest/lib &&
          sudo cp -a libgtest.a libgtest_main.a /usr/lib && 
          sudo ln -s /usr/lib/libgtest.a /usr/local/lib/libgtest.a && 
          sudo ln -s /usr/lib/libgtest_main.a /usr/local/lib/libgtest_main.a 

      - name: gtest on openGPMP
        run: |
          mkdir build && cd build
          # run tests and populate lcov.info file
          cmake -S ../ -DBUILD_TESTS=ON -DBUILD_COV=ON && make
      
      - name: Generate HTML Analysis & Unit Test Coverage
        run: |
          doxygen
          make docs-testing
          make docs-analysis

      - name: Codecov Sync
        uses: codecov/codecov-action@v3
        with:
          files: .coverage/lcov.info
          name: codecov-umbrella
          functionalities: fixes
          verbose: true

      - uses: actions/upload-artifact@v3
        with:
          name: LCOV_FILES
          #path: .coverage/lcov.info
          path: docs/

