name: OSX

on:
  workflow_call:

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ macos-latest ]
    defaults:
      run:
        shell: bash -l {0}
		
	steps:
	- uses: Jimver/cuda-toolkit@v0.2.10
	  id: cuda-toolkit
	  with:
		cuda: '12.1.0'
		
	- run: echo "Installed cuda version is: ${{steps.cuda-toolkit.outputs.cuda}}"

	- run: echo "Cuda install location: ${{steps.cuda-toolkit.outputs.CUDA_PATH}}"

	- run: nvcc modules/linalg/_gpu_mtx_add.cu
