name: PPC64LEPy

on:
    workflow_call:

jobs:
  PyPPC64LE:
    # The host should always be Linux
    runs-on: ubuntu-latest
    name: PyPI openMTPK PPC64LE
    steps:
      - uses: actions/checkout@v3
      - uses: uraimo/run-on-arch-action@v2
        name: Run commands
        id: runcmd
        with:
          arch: ppc64le
          distro: ubuntu_latest

          # Not required, but speeds up builds by storing container images in
          # a GitHub package registry.
          githubToken: ${{ github.token }}

          # Set an output parameter `uname` for use in subsequent steps
          run: |
            uname -a
            echo ::set-output name=uname::$(uname -a)

      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - name: Test openMTPK install on ubuntu PPC64LE
        run: | 
          pip install openmtpk
          echo "The uname output was ${{ steps.runcmd.outputs.uname }}"
          # confirm samples run
          cd samples/python 
          for f in *.py; do python3 "$f"; done 

      - name: Get the output
        # Echo the `uname` output parameter from the `runcmd` step
        run: |
          echo "The uname output was ${{ steps.runcmd.outputs.uname }}"


