name: OSXPy

on:
  workflow_call:
  #pull_request:
  #  branches: [ main , dev ]
  
jobs:
  PyOSX:
    name: Test openMTPK on Darwin
    runs-on: ${{ matrix.os }} 
    strategy:
      matrix:
        os: [ macos-latest ]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - name: Test openMTPK install
        run: |
          pip install openmtpk
          # confirm samples run
          cd samples/python 
          for f in *.py; do python3 "$f"; done 

