name: PyRas

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: initalize github repo
        uses: actions/checkout@v3

      - name: Test Python on ARMv8 Raspbian
        run: docker build t PyRas --file scripts/Dockerfile.armv8.raspbian_latest .

