name: Python

on:
  push:
    branches: [ main , dev]
  #pull_request:
  #  branches: [ main , dev ]
  
jobs:
  compile_wheels:
    name: Build Wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }} 
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.11.4

      - uses: actions/upload-artifact@v3
        with:
          path: ./wheelhouse/*.whl

  build_plat:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build sdist
        run: pipx run build --sdist

      - uses: actions/upload-artifact@v3
        with:
          path: dist/*.tar.gz

  publish:
    needs: [ compile_wheels, build_plat ]
    runs-on: ubuntu-latest
    steps: 
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
          run: |
          twine upload --repository pypi dist/*

