name: Nightly Build 

on:
  schedule:
    - cron: "* * * * *"

jobs:
  merge:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout branch
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        token: ${{ secrets.MTPK_BOT_ACCT }}

    - name: Merge with main
      run: |
        git config user.name "mtpk-bot"
        git config user.email "akiel.aries@gmail.com"
        git switch main
        git merge -m "#NIGHTLY: Merging rolling -> main" rolling
        git push

