name: Test AM

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: initalize github repo
        uses: actions/checkout@v3
      - name: install deps
        run: | 
          sudo apt install lcov
      
      - name: Configure
        run: |
          sudo apt-get install libgtest-dev && 
          cd /usr/src/gtest && 
          sudo cmake CMakeLists.txt && 
          sudo make && 
          cd /usr/src/gtest/lib &&
          sudo cp -a libgtest.a libgtest_main.a /usr/lib && 
          sudo ln -s /usr/lib/libgtest.a /usr/local/lib/libgtest.a && 
          sudo ln -s /usr/lib/libgtest_main.a /usr/local/lib/libgtest_main.a
      

      - name: Install gtest
        run: make 

      - name: gtest on Arith 
        run: make test-arith

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      
      - name: codecov sync        
        uses: codecov/codecov-action@v3
        with:
          files: .coverage/lcov.info


      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@v1.1.2
        with:
          github-token: ${{ github.token }}


      - name: Upload to coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_TOKEN }}
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install --upgrade pip setuptools cpp-coveralls
          coveralls -E ".*CMakeFiles.*" -E ".*tests/.*.cpp.*" --exclude "venv" --exclude "build/_deps"

